.feriline-home input {
  width: 90%;
  max-width: 350px;
  height: 55px;
  font-size: 18px;
  padding: 0 15px;
  margin: 10px auto;
  border-radius: 12px;
  display: block;
  box-sizing: border-box;
}

.primary-btn {
  width: 90%;
  max-width: 350px;
  height: 55px;
  font-size: 18px;
  border-radius: 12px;
  margin-top: 15px;
}